altgraph==0.17.4
babel==2.16.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
certifi==2024.7.4
chardet==5.1.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
customtkinter==5.2.2
Cython==3.0.11
darkdetect==0.8.0
Flask==3.0.3
Flask-SocketIO==5.3.6
glcl==0.1.0
gunicorn==23.0.0
h11==0.14.0
idna==3.8
itsdangerous==2.2.0
Jinja2==3.1.4
Markdown==3.7
MarkupSafe==2.1.5
minecraft-launcher-lib==6.5
packaging==24.1
pefile==2024.8.26
pillow==10.4.0
psutil==6.0.0
python-engineio==4.9.1
python-socketio==5.11.3
pywin32==306
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==74.0.0
simple-websocket==1.0.0
some-package==0.1
soupsieve==2.6
tkcalendar==1.6.1
urllib3==2.2.2
waitress==3.0.2
Werkzeug==3.0.4
wsproto==1.2.0
